body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}


a {
  text-decoration: none;
  outline: 0;
}

.page-wrap {
  margin: 0 auto;
  min-width: 720px;
}
